<mat-tab-group mat-align-tabs="center">
    <mat-tab label="SHOES">Content 1</mat-tab>
    <mat-tab label="BAGS">Content 2</mat-tab>
    <mat-tab label="APPAREL">Content 3</mat-tab>
    <mat-tab label="JEWELRY">Content 4</mat-tab>
    <mat-tab label="ACCESSORIES">Content 5</mat-tab>
  </mat-tab-group>

  <!-- <mat-grid-list  -->
    <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile rowspan="1" colspan="4"></mat-grid-tile>
    <img src="https://puls-img.chanel.com/1657270308494-01readytoweardesktop1jpg_856x2416.jpg"
    style="object-fit: cover; width:100%">
    </mat-grid-list>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.data}}
    </mat-grid-tile>
  </mat-grid-list> -->
<br>
  <label>Filter by Brand: &nbsp; </label>
<input [(ngModel)]='brand'>
<button type="button" (click)="onBrandFilter()">Search</button>
<button type="button" (click)="onBrandFilterClear()">Clear</button> &nbsp;

<label>Sort by &nbsp;</label>
<select [(ngModel)] = 'SortbyParam'>
  <option value="brand">City</option>
  <option value="price">Price</option>
</select>
<button type="button" (click) = "onSortDirection()">
  <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>
<br>

<div class = "instance" *ngFor = "let data of products | filter: searchKey: 'name' | filter: SearchBrand:'brand' | sort:[SortbyParam,SortDirection]">
    <app-dashboard-item [product] = "data">
    </app-dashboard-item>
</div>
